@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.blog-frm-main-container {
	width: 100%;
	min-height: 900px;
	background-color: #ebebeb;
	display: flex;
	flex-direction: column;
	padding: 15px;
	align-items:center;
	font-family: 'Roboto', sans-serif;
}
.component-container {
	border: 2px solid #999999;
	background-color: #fcfcfc;
	width: 60%;
	display: flex;
	margin-bottom: 15px;
}
.main-comp-sec {
	width: 95%;
	display: flex;
	justify-content:center;
	flex-direction: column;
	padding: 15px;
}
.add-comp-ctrl-sec {
	display: flex;
	justify-content:center;
	padding: 15px;
}
.main-comp-sec > input {
	height: 35px;
	border-radius: 5px;
	margin-top: 5px;
	border: 1px solid #999999;
}
.comp-ctrl-sec {
	width: 5%;
	display: flex;
	align-items:center;
	flex-direction: column;
	padding: 15px;
}
.ctrl-btn {
	height: 35px;
	width: 35px;
}
.empty-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}