@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
		.reg-bg-new {
			width: 100%;
			background-color: #FAFAFA;
			display: flex;
			align-items: center;
			flex-direction: column;
			font-family: 'Roboto', sans-serif;
			padding: 50px 0px; 
        }
        
		.reg-panel-new {
			
			padding: 20px 20px;
			border: 1px solid #e0e0e0;
			background-color: #FFFFFF;
		}
		.reg-form-new {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		.form-row-new {
			display: flex;
			justify-content: center;
			width: 100%;
        }
        .form-row-coldir-new {
            display: flex;
            flex-direction: column;
			width: 100%;
		}
		.form-row-new > p {
			font-size: 12px;
			margin: 10px 20px;
            text-align: center;
            line-height: 110%;
		}
		.form-row-new > p > a {
			color: #4dd3eb;
		}
		
		
		.form-input {
			display: flex;
			flex-direction: column;
			margin: 0px 0px;
			font-size: 20px;
			width: 100%;
			
		}
		.form-input > span {
            color: black;
			font-size: 12px;
            font-style: bold;
            margin-top: 8px;
		}
		.form-input > input {
			margin-top: 0px;
			padding: 2px 2px !important;
            font-size: 15px !important;
            width: 100%;
            height: 35px !important;
			border: 1px solid #e0e0e0 !important;
			border-radius: 3px !important;
			resize: vertical;
        }
        .form-input > input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
        .form-input > input:focus {
            border: 2px solid #029ED9 !important;
        }
		
		.form-btn-group {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 0px 0px;
		}
		
		.new-button {
			padding: 5px 5px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			border-radius: 3px;
			width: 100%;
			
		}
		.sign-up-btn {
			color: white;
			background-color: #029ED9;
			margin: 5px 0px;
			border: none;
		}
		.fb-btn {
			color: white;
			background-color: #3A579D;
			margin: 5px 0px;
			border: none;
		}
		.google-btn {
			color: grey;
			background-color: white;
			margin: 5px 0px;
			border: 2px solid #c7c7c7;
        }
        
        
		
		.form-new-checkbox {
			margin: 2px 0px;
			display: flex;
			  align-items: center;
		}
		.form-new-checkbox > input {
			height: 18px;
			  width: 18px;
			  background-color: #029ED9;
			  margin-left:0px;
			  margin-right:0px;
			  margin-top: 0px;
			  margin-bottom: 0px;
		}
		.form-new-checkbox > span {
			
			  margin-left:5px;
			  
		}
		
		/*new classes*/
		.encode-panel-width-new {
			width: 70%;
		}
		.form-input > select {
			margin-top: 0px;
			padding: 2px 2px !important;
            font-size: 15px !important;
            width: 100%;
            height: 35px !important;
			border: 1px solid #e0e0e0 !important;
			border-radius: 3px !important;
			resize: vertical;
        }
		.form-input > textarea {
			margin-top: 0px;
			padding: 2px 2px !important;
            font-size: 15px !important;
            width: 100%;
			border: 1px solid #e0e0e0 !important;
			border-radius: 3px !important;
			resize: vertical;
        }
		.form-new-radiobtn {
			margin: 2px 0px;
			display: flex;
			  align-items: center;
		}
		.form-new-radiobtn > input {
			height: 13px;
			  width: 13px;
			  background-color: #029ED9;
			  margin-left:0px;
			  margin-right:0px;
			  margin-top: 0px;
			  margin-bottom: 0px;
		}
		.form-new-radiobtn > span {
			
			  margin-left:5px;
			  font-size: 15px;
		}

		.form-new-section {
			width: 100%;
		}

		.form-new-section-vis {
			display: block;
		}
		.form-new-section-invis {
			display: none;
		}
		
		/*/new classes*/
        
        @media screen and (max-width: 479px) {
            .reg-panel-width-new {
                width: 100%;
            }
            .reg-bg-new > h1 {
                font-size: 20px;
			}
			.form-new-progress-bar {
				width: 100%;
			}
        }
        @media screen and (min-width: 480px), screen and (max-width: 799px) {
            .reg-panel-width-new {
                width: 95%;
            }
            .reg-bg-new > h1 {
                font-size: 20px;
			}
			.form-new-progress-bar {
				width: 95%;
			}
        }
        @media screen and (min-width: 800px) {
            .reg-panel-width-new {
                width: 20%;
            }
            .reg-bg-new > h1 {
                font-size: 25px;
			}
			.form-new-progress-bar {
				width: 20%;
			}
        }